@model Fiap.Exemplo02.MVC.Models.Cerveja
@{
    ViewBag.Title = "Salvar";
}

<h2>Sucesso!</h2>

<h3>@Model.Nome @Model.Teor @Model.Validade</h3>

<h2>@TempData["msg"]</h2>

<h3>@ViewBag.nomeCerveja</h3>
<h3>@ViewBag.data</h3>
<h3>@ViewBag.alcool</h3>

